// Variables
$bg-color: #1a1a1a;
$text-color: #ffffff;
$primary-color: #ff4500;
$secondary-color: #333333;
$font-family: 'Newsreader','Arial', sans-serif;

// Variables para puntos de quiebre
$breakpoint-mobile: 768px;
